<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
  <!--navbar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink='/'>ISLAM | Mo</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink='/'> Home <span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a routerLink='/projects'> projects</a></li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!--heard-->
  <section>
    <div class="head_img">

    </div>
  </section>
  <!--Projects-->
  <div class="projects">
    <div class="container text-center">
      <p class="h2 text-center">My Projects</p>
      <p class="h3">Some of other projects</p>
      <div class="row">
        <p class="h3">Click in picture to go to Demo</p>
        <a href="https://islammo0.000webhostapp.com/islam" target="_blank">
          <div class='Projects_des1 col-md-4'>
            <div class="back">

              <p class='h1 Projects_p'><i class="fab fa-accusoft"></i>GO To Website</p>
              <p class="h3 Projects_prag">portfolio (RESPONSIVE)</p>
            </div>
          </div>
        </a>
        <a href="https://mycs.netlify.com/" target="_blank">
          <div class='Projects_des2 col-md-4'>
            <div class="back">

              <p class='h1 Projects_p'>
                <i class="fas fa-american-sign-language-interpreting"></i>
                GO To Website</p>
              <p class="h3 Projects_prag">RESPONSIVE</p>
            </div>
          </div>
        </a>
        <a href="https://angularr.netlify.com/" target="_blank">
          <div class='Projects_des3 col-md-4'>
            <div class="back">

              <p class='h1 Projects_p'>
                <i class="fab fa-500px"></i>
                GO To Website</p>
              <p class="h3 Projects_prag">RESPONSIVE</p>
            </div>
          </div>
        </a>
      </div>
      <div class="row">

        <a href="https://hhtml.netlify.com/" target="_blank">
          <div class='Projects_des4 col-md-4'>
            <div class="back">

              <p class='h1 Projects_p'><i class="fab fa-buromobelexperte"></i>GO To Website</p>
              <p class="h3 Projects_prag">NOT RESPONSIVE</p>
            </div>
          </div>
        </a>
        <a href="https://estrap.netlify.com/" target="_blank">
          <div class='Projects_des5 col-md-4'>
            <div class="back">

              <p class='h1 Projects_p'>
                <i class="fas fa-bicycle"></i>
                GO To Website</p>
              <p class="h3 Projects_prag">estrap (RESPONSIVE)</p>
            </div>
          </div>
        </a>
        <a href="https://islamm0hamed.000webhostapp.com/" target="_blank">
          <div class='Projects_des6 col-md-4'>
            <div class="back">

              <p class='h1 Projects_p'>
                <i class="fas fa-archway"></i>
                GO To Website</p>
              <p class="h3 Projects_prag">RESPONSIVE</p>
            </div>
          </div>
        </a>
      </div>
      <div class="row">

        <a href="https://desgin.netlify.com/" target="_blank">
          <div class='Projects_des7 col-md-4'>
            <div class="back">

              <p class='h1 Projects_p'><i class="fas fa-bus"></i>GO To Website</p>
              <p class="h3 Projects_prag"> NOT RESPONSIVE</p>
            </div>
          </div>
        </a>
        <a href="https://3danimations.netlify.com/" target="_blank">
          <div class='Projects_des8 col-md-4'>
            <div class="back">

              <p class='h1 Projects_p'>
                <i class="fas fa-cannabis"></i>
                GO To Website</p>
              <p class="h3 Projects_prag">3d rotation (RESPONSIVE)</p>
            </div>
          </div>
        </a>
        <a href="https://buttom.netlify.com/" target="_blank">
          <div class='Projects_des9 col-md-4'>
            <div class="back">

              <p class='h1 Projects_p'>
                <i class="fab fa-centercode"></i>
                GO To Website </p>
              <p class="h3 Projects_prag"> button (RESPONSIVE)</p>
            </div>
          </div>
        </a>
      </div>
      <div class="row">

        <a href="https://foodpage.netlify.com/" target="_blank">
          <div class='Projects_des10 col-md-4'>
            <div class="back">

              <p class='h1 Projects_p'><i class="fab fa-centos"></i>GO To Website</p>
              <p class="h3 Projects_prag">NOT RESPONSIVE</p>
            </div>
          </div>
        </a>
        <a href="https://islamm0hamed.000webhostapp.com/" target="_blank">
          <div class='Projects_des11 col-md-4'>
            <div class="back">

              <p class='h1 Projects_p'>
                <i class="fab fa-centos"></i>
                GO To Website</p>
              <p class="h3 Projects_prag">RESPONSIVE</p>
            </div>
          </div>
        </a>
        <a href="https://companny.netlify.com/" target="_blank">
          <div class='Projects_des12 col-md-4'>
            <div class="back">

              <p class='h1 Projects_p'>
                <i class="fas fa-child"></i>
                GO To Website</p>
              <p class="h3 Projects_prag"> NOT RESPONSIVE</p>
            </div>
          </div>
        </a>
      </div>
      <div class="row">


      </div>


    </div>

  </div>
  <!--contact us-->
  <section id="contact">

    <h1 class="section-header">CONTACT</h1>

    <div class="contact-wrapper">

      <!---------------- 
    
          CONTACT PAGE LEFT 
        
          ----------------->

      <form class="form-horizontal" role="form" method="post" action="contact.php">

        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="">
          </div>
        </div>

        <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message"></textarea>

        <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
          <div class="button">
            <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
          </div>

        </button>

      </form>

      <!---------------- 
    
          CONTACT PAGE RIGHT 
        
          ----------------->

      <div class="direct-contact-container">

        <ul class="contact-list">
          <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Egypt |
                Cairo</span></i></li>

          <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:01271349443"
                  title="Give me a call">+2-01271349443</a></span></i></li>

          <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a
                  href="mailto:sm0968130@gmail.com" title="Send me an email">sm0968130@gmail.com</a></span></i></li>

        </ul>

        <hr>
        <div class="icon_contact fa-2x text-center">
          <a href="https://www.facebook.com/simpa0" target="_blank"> <i class="fab fa-facebook-square fa-2x"> </i></a>
          <a href="https://www.upwork.com/freelancers/~016b0bd938a4741ef0" target="_blank"> <i
              class="fas fa-cloud-upload-alt fa-2x"></i> </a>
          <a href="https://github.com/Islam78" target="_blank"> <i class="fab fa-github-square fa-2x"> </i> </a>
          <a href="https://www.instagram.com/eng_eslam_0/" target="_blank"><i class="fab fa-instagram fa-2x"></i> </a>
        </div>
        <hr>

        <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED By Islam Mohamed</div>

      </div>

    </div>

  </section>

</body>

</html>