<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Islam</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>

  <!--navbar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink='/'>ISLAM | Mo</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a routerLink='/'>Home <span class="sr-only">(current)</span></a></li>


        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink='/projects'>Projects</a></li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!--heard-->
  <section>
    <div class="head_img">

    </div>

  </section>

  <!--about me-->
  <div class=" about_me container">
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12 col-lg-6 " id="about_text">
        <p class="h2 text-left">I'm <span>A Designer</span></p>
        <p class="bold">I am truly passionate about creating modern and
          clean web applications & mobile applications such that
          businesses can leverage the power of technology to ease
          their operations as well as enhance their brand values
          To turn your beautiful designs into usable websites
          that respond to various device and user contexts </p>
        <span class='about_left'> About ---- </span>
      </div>
      <div class=" my_photo col-md-5 text-right">
        <div class="wid">
          <img class="img-fluid" src="../../assets/img/about_me.JPG" alt="">
          <p class="h2 text-center">Islam Mohamed</p>
          <p class="bold text-left">
            I build website front-ends focusing on performance,
            responsiveness/mobile-friendliness, usability ,
            accessibility and Responsive Web Designer I'm the guy you are probably looking for.
          </p>
          <hr>
          <div class="icon_contact fa-2x text-center">
            <a href="https://www.facebook.com/simpa0" target="_blank"> <i class="fab fa-facebook-square fa-2x"> </i></a>
            <a href="https://www.upwork.com/freelancers/~016b0bd938a4741ef0" target="_blank"> <i
                class="fas fa-cloud-upload-alt fa-2x"></i> </a>
            <a href="https://github.com/Islam78" target="_blank"> <i class="fab fa-github-square fa-2x"> </i> </a>
            <a href="https://www.instagram.com/eng_eslam_0/" target="_blank"><i class="fab fa-instagram fa-2x"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--my Abilities-->
  <div class="Abilities  container">

    <hr>
    <p class="h2 text-left skills">Skills</p>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 " id='about_img'>
        <ul class="list-group">
          <li class="list-group-item">HTML
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
            </span>
          </li>
          <li class="list-group-item">CSS
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
            </span>
          </li>
          <li class="list-group-item">JAVASCRIPT
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right notstar"></i>
              <i class="fas fa-star text-right notstar"></i>
            </span>
          </li>
          <li class="list-group-item">BOOTSTRAP
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
            </span>
          </li>
          <li class="list-group-item">PHP
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right notstar"></i>
              <i class="fas fa-star text-right notstar"></i>
              <i class="fas fa-star text-right notstar"></i>
            </span>
          </li>
          <li class="list-group-item">PYTHON
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right notstar"></i>
            </span>
          </li>
          <li class="list-group-item">NODE
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right notstar"></i>
              <i class="fas fa-star text-right notstar"></i>
              <i class="fas fa-star text-right notstar"></i>
            </span>
          </li>
          <li class="list-group-item">Git / Git Flow (1 year)
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right notstar"></i>
            </span>
          </li>
          <li class="list-group-item">Windows (7 years)
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
            </span>
          </li>

          <li class="list-group-item">ElasticSearch
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right notstar"></i>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-5 col-sm-12 col-xs-12 col-lg-6 " id="">
        <ul class="list-group">
          <li class="list-group-item">HTML5
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
            </span>
          </li>
          <li class="list-group-item">CSS3
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
            </span>
          </li>
          <li class="list-group-item">JQUERY
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right notstar"></i>
            </span>
          </li>
          <li class="list-group-item">ANGULAR
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right notstar"></i>
              <i class="fas fa-star text-right notstar"></i>
            </span>
          </li>
          <li class="list-group-item">MYSQL
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right notstar"></i>
            </span>
          </li>
          <li class="list-group-item">POSTSQL
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right notstar"></i>
            </span>
          </li>
          <li class="list-group-item">MONGODB
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right notstar"></i>
              <i class="fas fa-star text-right notstar"></i>
              <i class="fas fa-star text-right notstar"></i>
            </span>
          </li>
          <li class="list-group-item">Firefox (1 years)
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right notstar"></i>
              <i class="fas fa-star text-right notstar"></i>
            </span>
          </li>
          <li class="list-group-item">Adobe Photoshop (1 years)
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right notstar"></i>
              <i class="fas fa-star text-right notstar"></i>
            </span>
          </li>
          <li class="list-group-item">Windows (10 years)
            <span class='star'>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
              <i class="fas fa-star text-right "></i>
            </span>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <!--my Languages-->
  <div class="languages  container">
    <p class='h1 head text-center'></p>

    <p class="h2 text-left skills">Languages</p>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 " id='about_img'>
        <ul class="list-group">
          <li class="list-group-item">ARABIC
            <span class='star'>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
          </li>
          <li class="list-group-item">ENGLISH
            <span class='star'>
              <i class="fas fa-star "></i>
              <i class="fas fa-star "></i>
              <i class="fas fa-star "></i>
              <i class="fas fa-star "></i>
              <i class="fas fa-star notstar"></i>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-5 col-sm-12 col-xs-12 col-lg-6 " class="about_text">

      </div>

    </div>
  </div>
  <!--service-->

  <div class="service">
    <div class='container'>
      <div class="row text-center">
        <div class="SER col-md-3">
          <div class=' h1 service_head'>
            <i class="fas fa-italic"></i>
            HTML5
          </div>
          <div class="service_p">
            <p class=" bold">
              I have a lot of experience and have done a lot of projects
            </p>
          </div>
        </div>
        <div class=" SER col-md-3">
          <div class=' h1 service_head'>
            <i class="fas fa-italic"></i>
            CSS3
          </div>
          <div class="service_p">
            <p class=" bold">
              I have a lot of experience and have done a lot of projects
            </p>
          </div>

        </div>
        <div class=" SER col-md-3">
          <div class=' h1 service_head'>
            <i class="fas fa-italic"></i>
            Bootstrap
          </div>
          <div class="service_p">
            <p class=" bold">
              I have a lot of experience and have done a lot of projects
            </p>
          </div>
        </div>
        <div class=" SER col-md-3">
          <div class=' h1 service_head'>
            <i class="fas fa-italic"></i>
            JavaScript
          </div>
          <div class="service_p">
            <p class=" bold">
              I have an average experience in it and have done projects with Zalken not a professional
            </p>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="SER col-md-3">
          <div class=' h1 service_head'>
            <i class="fas fa-italic"></i>
            Angular
          </div>
          <div class="service_p">
            <p class=" bold">
              I have an average experience in it and have done projects with Zalken not a professional
            </p>
          </div>
        </div>
        <div class=" SER col-md-3">
          <div class=' h1 service_head'>
            <i class="fas fa-italic"></i>
            python
          </div>
          <div class="service_p">
            <p class=" bold">
              I have an average experience in it and have done projects with Zalken not a professional
            </p>
          </div>

        </div>
        <div class=" SER col-md-3">
          <div class=' h1 service_head'>
            <i class="fas fa-italic"></i>
            Django
          </div>
          <div class="service_p">
            <p class=" bold">
              I have an average experience in it and have done projects with Zalken not a professional
            </p>
          </div>
        </div>
        <div class=" SER col-md-3">
          <div class=' h1 service_head'>
            <i class="fas fa-italic"></i>
            Database
          </div>
          <div class="service_p">
            <p class=" bold">
              I have an average intermediate experience in both MYSQL and POSTSQL
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!--Projects-->
  <div class="Abilities  container">

    <hr>
    <p class="h2 text-left skills">Some Projects</p>
  </div>
  <div class="projects">
    <div class="container text-center">
      <div class="row">

        <a href="https://islamangular.netlify.com/" target="_blank">
          <div class='Projects_des1 col-md-4'>
            <div class="back">

              <p class='h1 Projects_p'><i class="fab fa-accusoft"></i>GO To Website</p>
              <p class="h3 Projects_prag">This project that test to try make portfolio</p>
            </div>
          </div>
        </a>
        <a href="https://mycs.netlify.com/" target="_blank">
          <div class='Projects_des2 col-md-4'>
            <div class="back">

              <p class='h1 Projects_p'>
                <i class="fas fa-american-sign-language-interpreting"></i>
                GO To Website</p>
              <p class="h3 Projects_prag">This my first project</p>
            </div>
          </div>
        </a>
        <a href="https://islammo0.000webhostapp.com/islam" target="_blank">
          <div class='Projects_des3 col-md-4'>
            <div class="back">

              <p class='h1 Projects_p'>
                <i class="fab fa-500px"></i>
                GO To Website</p>
              <p class="h3 Projects_prag">test project</p>
            </div>
          </div>
        </a>
      </div>
      <button routerLink='projects' class="btn-info" style='    margin-top: 20px;
      width: 158px;
      height: 64px;
      font-size: 19px;margin-bottom:20px;
  '>See All Projects</button>
    </div>

  </div>
  <!--contact us-->
  <section id="contact">

    <h1 class="section-header">CONTACT</h1>

    <div class="contact-wrapper">

      <!---------------- 
  
        CONTACT PAGE LEFT 
      
        ----------------->

      <form class="form-horizontal" role="form" method="post" action="contact.php">

        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="">
          </div>
        </div>

        <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message"></textarea>

        <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
          <div class="button">
            <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
          </div>

        </button>

      </form>

      <!---------------- 
  
        CONTACT PAGE RIGHT 
      
        ----------------->

      <div class="direct-contact-container">

        <ul class="contact-list">
          <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Egypt |
                Cairo</span></i></li>

          <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:01271349443"
                  title="Give me a call">+2-01271349443</a></span></i></li>

          <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a
                  href="mailto:sm0968130@gmail.com" title="Send me an email">sm0968130@gmail.com</a></span></i></li>

        </ul>

        <hr>
        <div class="icon_contact fa-2x text-center">
          <a href="https://www.facebook.com/simpa0" target="_blank"> <i class="fab fa-facebook-square fa-2x"> </i></a>
          <a href="https://www.upwork.com/freelancers/~016b0bd938a4741ef0" target="_blank"> <i
              class="fas fa-cloud-upload-alt fa-2x"></i> </a>
          <a href="https://github.com/Islam78" target="_blank"> <i class="fab fa-github-square fa-2x"> </i> </a>
          <a href="https://www.instagram.com/eng_eslam_0/" target="_blank"><i class="fab fa-instagram fa-2x"></i> </a>
        </div>
        <hr>

        <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED By Islam Mohamed</div>

      </div>

    </div>

  </section>

</body>

</html>